.card{
  width: 340px;
  height: 600px;
  background-color: rgb(161, 161, 237);
  border: none;
  border-radius: 16px;
  align-content: center;
  justify-items: center;
}

button{
  display: block;
  width: 200px;padding: 8px;
  margin: 8px;
  border-radius: 8px;
  border: none;
  font-size: larger;
  text-align: left;
}

ul{
  display: block;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.search{
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 8px;
}

li{
  display: inline;
  width: 200px;
  padding-left: 16px; padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
  margin: 8px;
  border-radius: 8px;
}

